html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #e1d7d4;
    font-family: 'Roboto Mono', monospace;
}

.header {
    /* border: 1px solid blue; */
    height: 100%;
    /* display: flex; */
}

.heading,
.subheading {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.heading {
    margin-bottom: 0;
    font-weight:  bold;
    color: #e34e45;
}

.subheading {
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    height: 60%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    max-width: 500px;
    max-height: 500px;
}

.table-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    
}

.table {
    color: #adaaaa;
    background-color: #eee;
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    /* flex: 1;
    flex-basis: 20%; */

}

/* .table:after {
    content: "";
    padding-bottom: 100%;
    display: block;
} */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 900;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
    border: none;
    max-width: 500px;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-heading {
    color: #e34e45;
    font-weight: bold;
}

.form-input {
    border: none;
    border-bottom: 1px solid gray;
    /* margin: 10px 0 10px 0; */
    position: relative;
    width: 90%; 
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    height: 25px;
}

.save-btn {
    background-color: #008000;
    color: white;
    width: 100%;
    border: none;
    margin-top: 20px;
    padding: 5px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3)
}